body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Cambria;
    background: url("../login/viansa_winery_jpg.jpeg") no-repeat center/ cover;
}

.form-login{
    width: 470px;
    height: 580px;
    background: red;
    overflow: hidden;
    background: url("https://images.pexels.com/photos/3407779/pexels-photo-3407779.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin: 50px 50px 50px 500px;
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: white;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 20%;
    background: white;
    justify-content: center;
    display: flex;
    margin: 24px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: white;
    background: #8e5124;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover{
    background: #e59c51;
}

.login{
    height: 500px;
    background: url("https://images.pexels.com/photos/13149907/pexels-photo-13149907.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center/ cover;
    border-radius: 60% / 10%;
    transform: translateY(-130px);
    transition: .8s ease-in-out;
}

.login label{
    color: lightgrey;
    transform: scale(.6);
}

.signup #login{
    border: 1px solid;
    border-radius: 12px;
    opacity: 0.5;
}

.signup img{
    margin: 0 151px;
    height: 109px;
}

.form-login i{
    position: absolute;
    display: flex;
    top: 0;
    cursor: pointer;
    right: 102px;
    height: 74%;
    font-size: 17px;
    align-items: center;
    user-select: none;
}

.form-login i::before{
    content: '\f070';
    font-family: fontAwesome;
}

.form-login i.hide::before{
    content: '\f06e';
    font-family: fontAwesome;
}

#chk:checked ~ .login{
    transform: translateY(-530px);
}

#chk:checked ~ .login label{
    transform: scale(1);
}

#chk:checked ~ .signup label{
    transform: scale(.6);
}