<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>
</head>
<body>
<h1>Sửa sản phẩm</h1>
<br>
<form th:object="${product}" th:action="@{/product/edit}" method="post">
    <label>ID</label>
    <input readonly th:field="*{id}"> <br>
    <label>Tên sản phẩm</label>
    <input th:field="*{nameProduct}"> <br>
    <label>Giá</label>
    <input th:field="*{priceProduct}"> <br>
    <label>Mô tả</label>
    <select th:field="*{describeProduct}">
        <option th:each="des:${listDescribeProduct}" th:text="${des}" th:value="${des}"></option>
    </select> <br>
    <label>Nhà sản xuất</label>
    <input th:field="*{producer}"> <br>
    <button>Sửa</button>
</form>
</body>
</html>